certifi==2017.7.27.1
chardet==3.0.4
future==0.16.0
idna==2.6
Mastodon.py==1.1.1
oauthlib==2.0.4
pkg-resources==0.0.0
python-dateutil==2.6.1
python-twitter==3.3
pytz==2017.2
requests==2.18.4
requests-oauthlib==0.8.0
six==1.11.0
urllib3==1.22
